/*!
 * Copyright 2020 Ryan E. Anderson
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*!
 * Three Doors v0.1.0 App Component Style
 *
 * by Ryan E. Anderson
 *
 * Copyright (c) 2020 Ryan E. Anderson
 */
.wrapper {
    text-align: center;
}

.container {
    display: inline-block;
    width: 960px;
    margin: 0 auto;
}

p.headline-text {
    font-style: italic;
    font-size: 2em;
}

button.btn {
    min-width: 80px;
    padding: 1em;
    font-weight: bold;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 3px;
    cursor: pointer;
}

.door-closed {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.door-open {
    background-color: rgb(135, 206, 235);
    color: rgb(0, 0, 0);
}

button.btn.btn-primary {
    background-color: rgb(135, 206, 250);
}

button.btn.btn-primary:hover {
    background-color: rgb(0, 191, 255);
}

button.btn.btn-secondary {
    background-color: rgb(211, 211, 211);
}

button.btn.btn-secondary:hover {
    background-color: rgb(169, 169, 169);
}

.bg-white {
    background-color: rgb(245, 245, 245);
}