/*!
 * Copyright 2020 Ryan E. Anderson
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*!
 * Three Doors v0.1.0 Template Style
 *
 * by Ryan E. Anderson
 *
 * Copyright (c) 2020 Ryan E. Anderson
 */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

body {
    font: 16px/1.618 Arial, "Helvetica Neue", Helvetica, sans-serif;
}

div {
    display: block;
}

h1 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 2.5em;
}

p {
    display: inline-block;
    width: 100%;
    margin: 1em 0;
}

small {
    font-size: 0.8em;
}

#app {
    background-color: rgb(128, 128, 128);
}

p.fine-print {
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
}