<!DOCTYPE html><%#
Copyright 2020 Ryan E. Anderson

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>
<!--
<%- indexLicense %>
-->

<%#
    Three Doors v0.1.0 Index Template

    by Ryan E. Anderson

    Copyright (C) 2020 Ryan E. Anderson
-%>
<!--
<%= indexAbout %>
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="apple-touch-icon" sizes="180x180" type="image/png" href="media/png/Three-Doors-Icon-180.png">
    <!--[if IE]>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <![endif]--><% templateStylePaths.forEach(templateStylePath => { %>
    <link rel="stylesheet" type="text/css" href="<%= templateStylePath %>"><% }); %>

    <title>Three Doors</title>
</head>
<body>
<div id="app"></div>
<p class="fine-print">
    <small>Copyright &copy; 2020 Ryan E. Anderson</small>
</p>
</body>
<script src="<%= bundlePath %>"></script>
</html>